.jumbotron {
    background-size: 100%;
    text-align: center;
    background-color:  #1c1c1c;
  }
  .body {
    font: "Calibri";
    background-color: #e8a260;
  }

  #plotArea{
    margin-top: 5%;
  }
  #plotAreaBubble{
    margin-top: 5%;
  }
